.main{
    margin-top: 50px;
}
.Red {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: auto;
    left: 150px;
}
.Yellow {
    background-color: yellow;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: auto;
}
.Green {
    background-color: green;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: auto;
}
.traffic-light {
    background-color: black;
    width: 100px;
    height: 200px;
    margin: auto;
}
.Glow {
    box-shadow: -2px -43px 100px 100px rgb(255, 255, 255);
}